[Unit]
Description=diary
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/workspace/diary
Environment="JEKYLL_ENV=production"
# ExecStart=/home/ubuntu/.asdf/shims/bundle exec jekyll serve --host=diary.test --port=4000
ExecStart=/home/ubuntu/.asdf/shims/bundle exec jekyll serve --incremental --host=diary.test --port=4000
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
