[Unit]
Description=observe-superman-upstream-conf
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/workspace/cron-conf/raspberrypi/bin
ExecStart=/home/ubuntu/workspace/cron-conf/raspberrypi/bin/observe-dnsmasq-toggle-conf --event delete --file superman_upstream.conf --source /home/ubuntu/workspace/dnsmasq-conf/dnsmasq/dnsmasq.priv/toggle --target /etc/dnsmasq.priv/toggle --mode link
TimeoutSec=15
Restart=always

[Install]
WantedBy=default.target
