[Unit]
Description=observe-dnsmasq-todo-list-midday
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/workspace/cron-conf/raspberrypi/bin
ExecStart=/home/ubuntu/workspace/cron-conf/raspberrypi/bin/observe-dnsmasq-toggle-conf --event create,modify,move,delete --source /home/ubuntu/workspace/dnsmasq-conf/dnsmasq/dnsmasq.toggle --target /etc/dnsmasq.toggle --mode todo --timeframe midday
TimeoutSec=15
Restart=always

[Install]
WantedBy=default.target
