[Unit]
Description=observe-youtube-alternative-conf
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/workspace/cron-conf/raspberrypi/bin
ExecStart=/home/ubuntu/workspace/cron-conf/raspberrypi/bin/observe-dnsmasq-toggle-conf --event create --file youtube_alternative.conf --target /etc/dnsmasq.toggle --mode link
TimeoutSec=15
Restart=always

[Install]
WantedBy=default.target
